<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> TeamDash </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <br>
                <h2 th:text="'User berhasil dihapus. '"></h2>
                <a th:href="@{/}">Kembali ke home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>