<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> TeamDash </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Tambah User Baru</div>
                <div class="card-body">
                    <form th:action="@{/user/add}" method="POST">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" />

                        <label>Nama</label>
                        <input type="text" name="nama" class="form-control" />

                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />

                        <label>Jenis Kelamin</label>
                        <select name="jenisKelamin" class="form-control">
                            <option value="0">Perempuan</option>
                            <option value="1">Laki-laki</option>
                        </select>

                        <label>Role</label>
                        <select name="role" class="form-control">
                            <option selected value=""> -- Pilih Role -- </option>
                            <option th:each="role : ${listRole}" th:value="${role.idRole}" th:text="${role.namaRole}"></option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-warning">Simpan</button>
                        <a class="mx-2 btn btn-warning" href="/">Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>