<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> TeamDash </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container">
    <h2 th:text="${text}"></h2>
    <a class="mx-2 btn btn-warning" href="/">Back to Home</a>
</div>

</body>

</html>