<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> TeamDash </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container">
    <h2>Daftar Seluruh User</h2>
    <br>

    <div th:if="${listUser.size() != 0}">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUser} ">
                <td th:text="${user.username}"></td>
                <td th:text="${user.nama}"></td>
                <td th:if="${user.jenisKelamin} == 0">Perempuan</td>
                <td th:if="${user.jenisKelamin} == 1">Laki-Laki</td>
                <td th:text="${user.role.namaRole}"></td>
                <td>
                    <a class="mx-2 btn btn-warning" th:href="@{/user/update-password/} + ${user.username}">Update</a>
                    <a class="mx-2 btn btn-warning" th:href="@{/user/delete/} + ${user.username}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="mx-2 btn btn-warning" href="/">Home</a>
</div>

</body>

</html>